.dark-theme-container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
}

.table-dark {
    background-color: #333;
    color: #f1f1f1;
}

.table-dark th, .table-dark td {
    border: 1px solid #555;
}

.text-light {
    color: #e1e1e1;
}

.text-center {
    text-align: center;
}
